@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);

body {
  font-family: "Itim", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: #12181b;
  height: 100vh;
  padding-top: 1px;
}

.title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.display {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  max-width: 300px;
}

.tile {
  border: 1px solid white;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.tile:active {
  background-color: #323944;
}

.player-x {
  color: #09c372;
}

.player-o {
  color: #498afb;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.controls button {
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}

#reset {
  background-color: #ff3860;
}

.deny {
  pointer-events: none;
}
